{% extends 'base.html.twig' %}

{% block body %}
      <div class="row" style="margin-right: 0">
        <div class="banner-dbd col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
          <h2 style="color:#004080">Nombre de places réservées <span class="badge" style="background-color: #286090; font-size:16px;">5</span></h2>
        </div>
      </div>
      <div class="row" style="margin-right: 0">
        <div class="banner-dbd col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
          <h2 style="color: #00802b">Utilisateurs enregistrés <span class="badge" style="background-color: #00802b; font-size:16px;">5</span></h2>        
        </div>
      </div>
      <div class="row" style="margin-right: 0">
        <div class="banner-dbd col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
          <h2 style="color: #b32d00">Commandes <span class="badge" style="background-color: #b32d00; font-size:16px;">5</span></h2>        
        </div>
      </div>
    </div>
{% endblock %}
