html {
  	margin:0;
  	padding:0;
	width: 100%;
}

body {
  	background-image: url('../img/background-grey.jpg'); 
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: top;
  	background-size: cover; 
}

.banner {
	background-color: rgba(38, 38, 38, 0.9);
	padding-bottom: 20px;
	margin-bottom: 20px;
	height: auto;
}

.banner, h3, p, label {
	color: rgba(230, 230, 230, 0.9);
}

.banner > h3 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
	
/*-------------------------------------------------------------------------*/
/* FIELDS                                                                  */
/*-------------------------------------------------------------------------*/

#appbundle_mborder_duration > .radio > label > input {
	margin-top: 0;
}

.field {
	max-width: 400px;
	margin-left: 27%;
}

.expiry {
	max-width: 70px;
	display: inline-block;
}

.cvc {
	max-width: 70px;
}

.card {
	max-width: 400px;	
}

/*-------------------------------------------------------------------------*/
/* NAVBAR                                                                  */
/*-------------------------------------------------------------------------*/

.mb-navbar {
	background-color: rgba(38, 38, 38, 0.9);
	color: rgba(230, 230, 230, 0.9);
	margin-right: 0px;
	margin-bottom: 75px;
	height: 50px;
	width: 100%;
	position: fixed;
}

.mb-navbar > div > ul > li
{
	display: inline-block;
	color: rgba(230, 230, 230, 0.9);
	margin-top: 13px;
	margin-right: 5px;
}

.mb-navbar > div > ul > li > a
{
	color: rgba(230, 230, 230, 0.9);
}

#logo {
	width: 63%;
}

.hidden {
	visibility: hidden;
}

/*-------------------------------------------------------------------------*/
/* FOOTER                                                                  */
/*-------------------------------------------------------------------------*/

.footer {
	background-color: #222;
    bottom: 0;
    height: 64px;
    width: 100%;
    position: fixed;
}



